main ul li {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
}

main ul li header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main ul li header img {
  height: 54px;
  width: 54px;
  border-radius: 100%;
}

main ul li header .user-info {
  margin-left: 10px;
}

main ul li header .user-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

main ul li header .user-info span {
  font-size: 13px;
  color: #999;
}

main ul li p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

main ul li a {
  color: #8e4d;
  font-size: 14px;
  text-decoration: none;
}
